<h1>Division#lubricantes</h1>
<p>Find me in app/views/division/lubricantes.html.erb</p>

<!-- Wrapper -->
			<div id="wrapper">

<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/sky1.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITES HIDRÁULICOS HIDRASKY</h2>
									<p>Aceites hidráulicos de la más alta calidad, fabricados con bases parafínicas para un alto índices de viscosidad y con aditivos antidesgaste y antiespumantes para garantizar un excelente desempeño en transmisión de potencia y larga vida en los elementos.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/sky2.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITES DE CORTE INTEGRAL  

SKY CUT OIL</h2>
									<p>Aceites fábricados con bases parafínicas y con aditivos de  
EP para garantizar la presencia de película lubricante aún cuando se presentan altas cargas.  Diseñado para ser utilizado en cajas reductoras y engranajes abiertos.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/sky3.png" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITE PARA MOTOR
SKYENGINE</h2>
									<p>Aceites parafínicos con
aditivos detergentes,
a n t i d e g a s t e y
antiherrumbre que le dan
larga vida a su motor.
Diseñados para motores
diesel o gasolina con un
alto desempeño.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky4.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITES DE CORTE SOLUBLE
SKY CUT OIL</h2>
									<p>Aceite mineral y sintético
soluble para corte, con
aditivos de EP y biocidas
que garantizan estabilidad
en la emulsión, larga vida
de las herramientas y alto
desempeño en para corte
de materiales ferrosos y no
ferrosos.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky5.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITES DE CORTE INTEGRAL
SKY CUT OIL</h2>
									<p>Aceite mineral parafínico,
con aditivos de EP para
corte y mecanizado de
piezas donde por
condiciones de operación
no puede haber presencia
de agua.
Diseñado para
trabajo pesado de corte
con un alto desempeño
alargando la vida útil de la
herramienta.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky6.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITES PARA TEMPLE
SKYTERM</h2>
									<p>Aceites parafínicos con
aditivos anticorrosivos
p a r a u n m e j o r
desempeño al ser
utilizado en cambios
bruscos de temperatura.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky7.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>ACEITE DIELÉCTRICO
TECSHIND</h2>
									<p>Aceite que garantiza
inexistencia total de
húmedad para un
excelente desempeño en
máquinas electroerosivas
y transformadores.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky8.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>GRASAS LUBRICANTES
SKYGREASE</h2>
									<p>Grasas económicas con
jabón de calcio para
aplicaciones comunes,
grasas con aditivos EP
para engranajes y
reductores, grasas para
cadenas y altas
temperaturas.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky9.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>LUBRICANTES GRADO ALIMENTCIO
CERTIFICADOS NSF H1</h2>
									<p>Somos distribuidores
autorizados de Addinol
m a r c a A l e m a n a
especializada en la
fabricación de lubricantes
grado alimenticio mineral
y s i n t é t i c o c o n
certificación NSF.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
                        <section>
							<a href="#" class="image"><img src="images/sky10.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>SISTEMAS CENTRALIZADOS
BEKA</h2>
									<p>Somos distribuidores
autorizados de BEKA,
Empresa Alemana que
diseña y fabrica Sistemas
centralizados para
optimizar la lubricación de
los equipos y maquinaria
amarilla en general.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>
</div>