<ul class="actions" >
										<li><a href=".." class="button">Volver</a></li>
									</ul>
<a  class="image" ><img src="images/logoskyblanco.png" alt="" width="30%" /></a>
<h1 style="color:black" align="center">División Combustibles</h1>

<!-- Wrapper -->
			<div id="wrapper">

<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						
						<section>
							<a href="#" class="image"><img src="images/camion.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:black">Nos dedicamos al suministro y distribución de combustibles a través de carro tanques</h2>
									<p style="color:black">Estamos en capacidad de suministrar: Acpm, gasolina, Querosene, Jet A 1 y demás derivados del petróleo utilizados como combustibles.</p>
									
								</div>
							</div>
						</section>
						
                </section>
</div>