
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Inicio</a></li>
							<li><a href="#one">Combustibles</a></li>
                            <li><a href="#four">Lubricantes</a></li>
                            <li><a href="#five">Metalmecánica</a></li>
							<li><a href="#two">Nosotros</a></li>
							<li><a href="#three">Contáctanos</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<a  class="image"><img src="images/logoskyblanco.png" alt="" width="80%" /></a>
                            <p>EFICIENCIA CON SEGURIDAD </p>
							
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="../combustibles" class="image"><img src="images/combustibles.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:black">DIVISIÓN COMBUSTIBLES</h2>
									<p style="color:black">Desarrollamos soluciones para el suministro de combustible en su sitio de operación.</p>
									<ul class="actions">
										<li><a href="../combustibles" class="button">Ver más</a></li>
									</ul>
								</div>
							</div>
						</section>
                </section>
                <!-- four -->
					<section id="four" class="wrapper style1-alt spotlights">
						<section>
							<a href="../lubricantes" class="image"><img src="images/lubricantes.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:black">DIVISIÓN LUBRICANTES</h2>
									<p style="color:black">Suministramos lubricantes específicos para cada una de sus necesidades.</p>
									<ul class="actions">
										<li><a href="../lubricantes" class="button">Ver más</a></li>
									</ul>
								</div>
							</div>
						</section>
                </section>
                <!-- five -->
					<section id="five" class="wrapper style2 spotlights">
						<section>
							<a href="../metalmecanica" class="image"><img src="images/metal.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:black">DIVISIÓN METALMECÁNICA E INFRAESTRUCTURA</h2>
									<p style="color:black">Diseñamos e instalamos obras de infraestructura requeridas para el almacenamiento y suministro de combustibles y lubricantes.</p>
									<ul class="actions">
										<li><a href="../metalmecanica" class="button">Ver más</a></li>
									</ul>
								</div>
							</div>
						</section>
                        
                        
					</section>
                

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Quienes somos</h2>
							<p>Somos una empresa especializada en servicios de logística y suministro de

combustibles y lubricantes industriales que basa su gestión en un sólido

compromiso con la calidad, la seguridad, la eficacia y la sostenibilidad

ambiental. </p>
							<div class="features">
								<section>
									<span class="icon major fa-hand-pointer-o"></span>
									<h3>POR QUE NOSOTROS? </h3>
									<p>Estamos autorizados por el Ministerio de Minas y Energía para la comercialización industrial de combustibles, contamos con una unidad dedicada al desarrollo de lubricantes y grasas de alta calidad y tenemos establecida una amplia red logística para suministrar nuestros productos en todo el país. </p>
								</section>
								<section>
									<span class="icon major fa-money"></span>
									<h3>Unidades de Negocio</h3>
									<p>1) Combustibles- Desarrollamos soluciones para el suministro de combustible en su sitio de operación.<br>

2) Lubricantes- Suministramos lubricantes específicos para cada una de sus necesidades.<br>

3) Infraestructura-Diseñamos e instalamos obras de infraestructura requeridas para el almacenamiento y suministro de combustibles y lubricantes </p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Misión</h3>
									<p>Atender las necesidades del mercado industrial en el suministro y logística de combustibles y lubricantes de forma integral, continua, eficaz y segura con los más altos estándares de calidad y compromiso ambiental .</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>Visión</h3>
									<p>Ser reconocidos a nivel nacional en el suministro de combustibles y lubricantes en los diferentes sectores industriales siendo fieles a nuestros pilares corporativos .</p>
								</section>
								<section>
									<span class="icon major fa-bank"></span>
									<h3>Pilares</h3>
                                    <p><b>Excelencia y Compromiso</b> en nuestros productos y servicios.                                                                                              <br>
                                        <b>Eficiencia y Seguridad</b> operativa.<br>
                                        <b>Integridad y Confianza</b> en nuestros trabajadores.<br>
                                        <b>Responsabilidad</b> social y ambiental </p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>Nuestra historia</h3>
									<p>2010 Iniciamos operaciones con el suministro de combustible en el sector petrolero.<br>

2011 Incursionamos con el suministro de combustibles en el sector agricola.<br>

2012 Desarrollamos la linea de lubricantes industriales.<br>

2013 Suministro de combustibles para la contruccion del Puerto de Prodeco.<br>

2014 Ingresamos como proveedores en el sector quimico/ contamos con la linea de lubricantes de grado alimenticio y equipos centralizados de lubricacion. </p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="assets/pdfs/Sky1.pdf" class="button">Ver más</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contáctanos</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="field half first">
											<label for="name">Nombre</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Correo</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Mensaje</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Enviar mensaje</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Dirección</h3>
											<span>Bogotá<br />
											CRA 16A # 80 63 OF. 704<br>
                                            Tel: 3127773131<br><br>
                                            </span>
                                            <span>Cali<br />
											Calle 9 No. 84A-42<br>
                                            Tel: 316 5292704<br><br>
                                            </span>
                                            <span>Medellín<br />
											cr 50 #79 sur 101 interior 100<br>
                                            Tel: (316)529-2704
                                            </span>
										</li>
										<li>
											<h3>Correo</h3>
											<a href="#">Gerencia@skyfuelsandminerals.com</a>
										</li>
										
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1">
				<div class="inner">
					<ul class="menu">
                        <li>&copy; <a href="http://platinosoftware.com">Platino software</a>. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>
