<ul class="actions" >
										<li><a href=".." class="button">Volver</a></li>
									</ul>
<a  class="image" ><img src="images/logoskyblanco.png" alt="" width="30%" /></a>
<h1 style="color:black" align="center">Divisi칩n Metalmec치nica e infraestructura</h1>

<!-- Wrapper -->
			<div id="wrapper">

<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/metalica.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2 style="color:black">Dise침amos y construimos infraestructura para el almacenamiento y Distribuci칩n de combustibles y lubricantes.</h2>
									<p style="color:black"></p>
									
								</div>
							</div>
						</section>
						
                </section>
</div>